{% extends 'bboard/base.html' %}

<div class="general-container">
  {% block nav_body %}
    <div class="container  top-container">
      <div class="row">
        <div class="col-sm-7 col-mb-4 col-xs-5 col-lg-8 col-xl-5 offset-sm-4 offset-xl-8">
          <h1 class="text_font text-center text-light">Наш сайт скоро откроется</h1>
        </div>
      </div>

      
        
          <div class="col-sm-6 col-xl-4 offset-sm-5 offset-xl-8 form-group">
            <form action="" method="post" class="by_form">
              {% csrf_token %}

              <div class="row mb-3">
                <label for="inputName3" class="col-sm-2 offset-sm-2 col-form-label text-light">Имя</label>
                <div class="col-sm-7 offset-sm-1 ">{{ form.name }}</div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 offset-sm-2 col-form-label text-light">Email</label>
                <div class="col-sm-7 offset-sm-1" id="inputEmail">{{ form.adress }}</div>
              </div>
              <input type="submit" class="btn btn-primary boto text-capitalize col-xl-3 offset-xl-2 offset-sm-3" value="Добавить" />
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
</div>
